.App {
  text-align: center;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 5%;
  width: 85%;
}

h1 {
  font-size: 2rem;
}

div.links {
  display: flex;
  flex-direction: row;
}

a {
  color: white;
  text-decoration: none;
  margin: 2%;
  padding: 15px;
  background-color: black;
}

hr {
  border: 3px solid black;
}

.bigHeader {
  font-size: 4rem;
  font-weight: 700;
}

.login {
  display: flex;
  flex-direction: column;  
}

form {
  display: flex;
  flex-direction: column;
  /* margin: 1%; */
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
  font-size: 1.4rem;
}

input {
  width: 25%;
  padding: 7px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

button {
  width: 10%;
  background-color: black;
  color: white;
  padding: 7px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 1%;
}

.friendList {
  width: 70%;
  text-align: left;
  font-size: 1.4rem;
  margin-left: 25%;
}